<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopping-cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://img.freepik.com/premium-photo/online-shop-dark-blue-with-shopping-element-3d-illustration_925613-52398.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <div id="top"> -->
                    <!-- <h3 class="float-md-left mb-0">Shopping Cart</h3> -->
                    <!-- <nav class="nav nav-masthead justify-content-center float-md-right">
                        
                        <h4 class="shop float-md-left mb-0">SHOPPING APP</h4>
                        
                        
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="/products">Products</a>
                        <% if(!currentUser) { %>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/register">Register</a>
                        <% } else { %>
                        <a class="nav-link" href="/logout">Logout</a>
                        <% } %>
                        
                    </nav>
                </div>
              
                <div class="lines">
                    <p class="lead text-white"> Welcome to Shopping Cart! <br> Jump right in and explore our many products. <br>
                        Feel free to add some of your own and comment on others!</p>
                    <a href="/products" class="btn btn-sm btn-secondary font-weight-bold border-white bg-white text-dark">View
                            Products</a>
                </div>

            </div>
          </div>
          <div class="carousel-item">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/028/891/227/small_2x/a-vibrant-shopping-cart-symbol-for-cyber-week-deals-isolated-on-a-gradient-background-photo.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block"> -->
                <!-- <div id="top"> -->
                    <!-- <h3 class="float-md-left mb-0">Shopping Cart</h3> -->
                    <!-- <nav class="nav nav-masthead justify-content-center float-md-right">
                        <div class=shop>
                            <h4 class="float-md-left mb-0">SHOPPING APP</h4>
                        </div>
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="/products">Products</a>
                        <% if(!currentUser) { %>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/register">Register</a>
                        <% } else { %>
                        <a class="nav-link" href="/logout">Logout</a>
                        <% } %>
                    </nav>
                </div>
                <div class="lines">
                    <p class="lead text-white"> Welcome to Shopping Cart! <br> Jump right in and explore our many products. <br>
                        Feel free to add some of your own and comment on others!</p>
                    <a href="/products" class="btn btn-sm btn-secondary font-weight-bold border-white bg-white text-dark">View
                            Products</a>
                </div>
              
                
            </div>
            </div>
          
          <div class="carousel-item mb-4">
            <img src="https://img.freepik.com/free-photo/workplace-business-modern-male-accessories-laptop-black-background_155003-3944.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <div id="top"> -->
                    <!-- <h3 class="float-md-left mb-0">Shopping Cart</h3> -->
                    <!-- <nav class="nav nav-masthead justify-content-center float-md-right">
                        <div class=shop>
                            <h4 class="float-md-left mb-0">SHOPPING APP</h4>
                        </div>
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="/products">Products</a>
                        <% if(!currentUser) { %>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/register">Register</a>
                        <% } else { %>
                        <a class="nav-link" href="/logout">Logout</a>
                        <% } %>
                    </nav>
                </div>
              
                <div class="lines">
                    <p class="lead text-white"> Welcome to Shopping Cart! <br> Jump right in and explore our many products. <br>
                        Feel free to add some of your own and comment on others!</p>
                    <a href="/products" class="btn btn-sm btn-secondary font-weight-bold border-white bg-white text-dark">View
                            Products</a>
                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home.css" />
  </head>

  <body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-left mb-0">Shopping Cart</h3>
          <nav class="nav nav-masthead justify-content-center float-md-right">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="/products">Products</a>
            <% if(!currentUser) { %>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
            <% } else { %>
            <a class="nav-link" href="/logout">Logout</a>
            <% } %>
          </nav>
        </div>
      </header>
      <main class="px-3">
        <h1>Shopping Cart</h1>
        <p class="lead">
          Welcome to Shopping Cart! <br />
          Jump right in and explore our many products. <br />
          Feel free to add some of your own and comment on others!
        </p>
        <a
          href="/products"
          class="btn btn-sm btn-secondary font-weight-bold border-white bg-white"
          >View Products</a
        >
      </main>

      <footer class="mt-auto text-white-50">
        <p>All Right Reserved &copy; 2024</p>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>